{% extends 'tactb/base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <div class="card-title">
                        Login
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                       {% csrf_token %}
                       {% for field in form %}
                        <div class="form-group">
                            <div class="card">
                                {{ field.name }}
                                {{ field }}
                            </div>
                        </div>
                       {% endfor%}
                        <button type="submit" class="btn btn-danger">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}